.div_01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: lightsteelblue;
  
  @media (max-width: 1080px) {
    flex-direction: column;
  }
}

.div_01_A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 70vw;
  margin: 2rem 0;
  // background-color: lightsteelblue;
  
  @media (max-width: 1080px) {
    flex-direction: column;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
    // background-color: lightgreen;
  }

  p {
    font-size: 0.9rem;
    text-align: justify;
  }

  .boldText {
    font-weight: 600;
  }

  li {
    font-size: 0.9rem;
    text-align: justify;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 2rem;
    width: auto;
    border: 0;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0 auto;
    color: var(--white);
    background-color: var(--cyan-600);
  
    transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8)
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  font-size: 0.8rem;
  
}